<launch>

    <arg name="config_file_path" default="$(find-pkg-share fast_lio)/config/velodyne.yaml"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="rviz_config_path" default="$(find-pkg-share fast_lio)/rviz/fastlio.rviz"/>

    <node pkg="fast_lio" exec="fastlio_mapping" name="fastlio_mapping" output="screen">
        <param name="use_sim_time" value="$(var use_sim_time)"/>
        <param from="$(var config_file_path)"/>
    </node>

    <node pkg="fast_lio" exec="gz_convert" name="gz_convert" output="screen">
        <param name="use_sim_time" value="$(var use_sim_time)"/>
        <param from="$(var config_file_path)"/>
    </node>

    <node pkg="px4bridge" exec="px4_vo_bridge" name="px4_vo_bridge" output="screen"
          respawn="false">
        <param name="use_sim_time" value="$(var use_sim_time)"/>
    </node>

    <node pkg="rviz2" exec="rviz2" name="rviz2" output="screen" args="-d $(var rviz_config_path)" if="$(var rviz)">
    </node>

</launch>
